<div class="row">

<div class="col-md-2">


</div>

<div class="col-md-8">
<h3>Update User</h3>
<br>

{{#each userdata}}
<form  method="POST" action="/updateUser/{{this.id}}">
  <div class="form-group">
    <label for="exampleInputfname">First Name:</label>
    <input type="text" value="{{this.fname}}" name="fname" class="form-control" id="exampleInputfname"  placeholder="Enter First Name">
    
  </div>
  <div class="form-group">
    <label for="exampleInputlname">Last Name:</label>
    <input type="text" value="{{this.lname}}" name="lname" class="form-control" id="exampleInputlname" placeholder="Enter Last Name">
  </div>

   <div class="form-group">
    <label for="exampleInputemail">Email:</label>
    <input type="email" value="{{this.email}}" name="email" class="form-control" id="exampleInputemail" placeholder="Enter Email">
  </div>

   <div class="form-group">
    <label for="exampleInputprofession">Profession:</label>
    <input type="text" value="{{this.profession}}" name="profession" class="form-control" id="exampleInputprofession" placeholder="Enter the Profession">
  </div>
   <br>
  <button type="submit" class="btn btn-success">Update</button>
</form>
{{/each}}


</div>

<div class="col-md-2">

</div>
</div>